<!DOCTYPE html>
<html>
    <head>
        <title>Karsten Ngai-Natsuhara asn2</title>
        <link rel="stylesheet" href="/../../stylesheets/main.css">
    </head>
        
    <header>
        <h1>Rectangle Database</h1>
    </header>

    <body>
        <div class="Content">
            <% rows.forEach(function(r) { %>
                <h2>Rectangle: <%= r.name %></h2>

                <table style="width:40%" id="Table">
                    <tr>
                        <th>ID</th>
                        <td><%= r.id %></td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td><%= r.name %></td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td><%= r.color %></td>
                    </tr>
                    <tr>
                        <th>Width</th>
                        <td><%= r.width %></td>
                    </tr>
                    <tr>
                        <th>Height</th>
                        <td><%= r.height %></td>
                    </tr>
                </table>

                <br>

                <form action="/delete/<%= r.id %>" method="get">
                    <input type="submit" value="Delete">
                </form>
            <% }); %>

            <script>
                //javascript here
            </script>

        </div>
    </body>
</html>